<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Add a button to navigate back to the home page -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 3em;">
        DailyPlanner About
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>About DailyPlanner</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Welcome to DailyPlanner, your go-to app for managing your daily tasks and staying organized!</p>
      <p>With DailyPlanner, you can:</p>
      <ul>
        <li>Create and manage your to-do lists</li>
        <li>Set priorities for your tasks</li>
        <li>Keep track of due dates and deadlines</li>
        <li>Stay organized and focused on your goals</li>
      </ul>
      <p>We are committed to helping you achieve your productivity goals and make the most out of every day.</p>
      <p>Thank you for choosing DailyPlanner!</p>
    </ion-card-content>
  </ion-card>
</ion-content>